@import url('./reset.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #f5f5f5;
  --color-secondary: #333;
  --bg-color: aliceblue;
  --element-width: max(250px, 50vh);
  --gap: 2rem;
  --ff-size: 1.5rem;
  --max-w: 1200px;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--ff-size, 1rem);
  line-height: 1.5;
  color: var(--color-secondary);
}

body {
  width: 100vw;
  height: 100vh;
  padding-block: var(--gap);
  padding-inline: min(2vw, var(--gap));
}

.container {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  place-items: center;
  align-items: start;
  grid-template-rows: 1fr 3fr;
  gap: var(--gap);
}

.title {
  font-size: clamp(var(--ff-size), 0.8636rem + 3.1818vw, 3.25rem);
  max-width: var(--max-w);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.img-wrapper {
  max-width: var(--element-width, 250px);
}

.avatar {
  max-width: 100%;
  border-radius: 50%;
}

/* Plugin looks for elements with class named "balance-text" */
.balance-text {
  text-wrap: balance;
  /* Apply (proposed) CSS style - see balancetext.js */
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--ff-size, 1rem);
  line-height: 1.1;
}